<form
  [formGroup]="formData"
  action=""
  class="flex gap-1"
  style="margin-bottom: -21px">
  <mat-form-field>
    <mat-label id="all formats">All formats</mat-label>
    <mat-select formControlName="course_format" class="flex items-start">
      @for (format of getEnumValues('All formats'); track format) {
        <mat-option (click)="onsubmit()" [value]="format">{{
          format
        }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label id="all types">All types</mat-label>
    <mat-select formControlName="course_type" class="flex items-start">
      @for (type of getEnumValues('All types'); track type) {
        <mat-option (click)="onsubmit()" [value]="type">{{ type }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label id="All statuses">All statuses</mat-label>
    <mat-select formControlName="status" class="flex items-start">
      @for (status of getEnumValues('All statuses'); track status) {
        <mat-option (click)="onsubmit()" [value]="status">{{
          status
        }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label id="All groups">All groups</mat-label>
    <mat-select formControlName="group" class="flex items-start">
      @for (group of getEnumValues('All groups'); track group) {
        <mat-option (click)="onsubmit()" [value]="group">{{
          group
        }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label id="All courses">All courses</mat-label>
    <mat-select formControlName="course" class="flex items-start">
      @for (course of getEnumValues('All courses'); track course) {
        <mat-option (click)="onsubmit()" [value]="course">{{
          course
        }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div style="margin-bottom: -21px">
    <button
      class="p-3.5 bg-sky-500 text-slate-700 rounded text-xl hover:bg-sky-600"
      (click)="resetForm()">
      Reset
    </button>
  </div>
</form>
