.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-item {
  flex-grow: 1;
  color:#747474;
  justify-content: start;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://www.iconarchive.com/download/i48697/custom-icon-design/pretty-office-2/man.ico');
  background-size: cover;
}
.example-list-wrapping {
  max-width: 500px;
}

