<div class="mt-1"></div>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="flex-container">
      <mat-panel-title>{{ application.name }}</mat-panel-title>
      <mat-panel-title>{{ application.surname }}</mat-panel-title>
      <mat-panel-title>{{ application.email }}</mat-panel-title>
      <mat-panel-title>{{ application.age }}</mat-panel-title>
      <mat-panel-title>{{ application.course }}</mat-panel-title>
      <mat-panel-title>{{ application.course_format }}</mat-panel-title>
      <mat-panel-title>{{ application.course_type }}</mat-panel-title>
      <mat-panel-title>{{ application.status }}</mat-panel-title>
      <mat-panel-title>{{ application.sum }}</mat-panel-title>
      <mat-panel-title>{{ application.group }}</mat-panel-title>
      <mat-panel-title>{{
        application.created_at | date: 'dd-MM-yyyy HH:mm'
      }}</mat-panel-title>
      <mat-panel-description class="">
        <mat-icon class="">account_circle</mat-icon>
        @if (manager && manager.name) {
          <span class="text-sky-600 ml-2">{{ manager.name }}</span>
        } @else {
          <span class="text-teal-600 ml-2">Free</span>
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{
            application.name || 'not established'
          }}</mat-card-title>
          <mat-card-subtitle>{{
            application.surname || 'not established'
          }}</mat-card-subtitle>
          @if (application.manager && application.manager._id === me._id) {
            <div class="flex justify-center items-center ml-auto">
              <button (click)="edit()">
                <mat-icon
                  color="warn"
                  matTooltip="You can edit this application"
                  aria-hidden="true"
                  aria-label="Edit icon"
                  fontIcon="edit"></mat-icon>
              </button>
            </div>
          }
        </mat-card-header>
        <mat-card-content>
          <hr />
          <mat-list>
            <div class="flex gap-2 mb-1">
              <span class="app-info-item">Email:</span>
              <span>{{ application.email || 'not established' }}</span>
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Phone</span>
              <span>{{ application.phone || 'not established' }}</span>
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Age</span>
              {{ application.age || 'not established' }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Course</span>
              {{ application.course || 'not established' }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Course Format</span>
              {{ application.course_format || 'not established' }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Course Type</span>
              {{ application.course_type || 'not established' }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Sum</span>
              {{ application.sum || 'not established' }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Status</span>
              {{ application.status || 'not established' }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Group</span>
              {{ application.group || 'not established' }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Created</span>
              {{
                (application.created_at | date: 'dd-MM-yyyy HH:mm') ||
                  (application.createdAt | date: 'dd-MM-yyyy HH:mm') ||
                  'not established'
              }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Updated</span>
              {{
                (application.updated_at | date: 'dd-MM-yyyy HH:mm') ||
                  (application.updatedAt | date: 'dd-MM-yyyy HH:mm') ||
                  'not established'
              }}
            </div>
            <div class="flex mb-1 gap-2">
              <span class="app-info-item">Manager</span>
              {{ manager?.name ? manager.name : 'free' }}
            </div>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <div class="ml-auto">
        <app-message-form
          [application]="application"
          [me]="me"
          [manager]="manager"
          (managerUpdated)="onManagerUpdated($event)" />
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
