@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-neutral-900 bg-gradient-to-b from-sky-400 via-sky-800 to-sky-400
  }
}

@layer components {
  .input {
    @apply rounded-sm text-sm border border-transparent bg-slate-700 p-2 outline-none focus:border-blue-500;
  }
  .header-bg {
    @apply flex h-14 justify-between items-center bg-gradient-to-b from-slate-800 via-cyan-900 to-slate-800 px-6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .form_bg {
    @apply  bg-slate-500;
  }
  .btn {
    @apply flex justify-center text-sm  p-2 px-2 rounded text-white transition-colors disabled:bg-gray-300 disabled:cursor-not-allowed;
  }
}

@layer utilities {
  .btn-green {
    @apply bg-green-600  hover:bg-green-700 hover:disabled:bg-gray-300;
  }
  .btn-red {
    @apply bg-red-600  hover:bg-red-500;
  }

  .btn-cyan {
    @apply  bg-cyan-800   hover:bg-cyan-900;
  }

  .btn-purple {
    @apply  bg-purple-800   hover:bg-purple-900;
  }

  .btn-amber {
    @apply  bg-amber-300   hover:bg-amber-400 text-teal-900 hover:text-white;
  }
  .app-info-item {
    @apply  text-xs text-sky-700;
  }

}

.text-shadow {
  text-shadow:  0.5px 0.5px 2px orange;
}

.custom-dialog-class {
  background-color: #dc1212;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

