<div class="flex flex-col p-1">
  @if ((manager && me && manager._id === me._id) || !application.manager) {
    <div class="flex">
      <form
        class="example-form ml-auto"
        (ngSubmit)="onSubmit(application._id)"
        [formGroup]="commentForm">
        @if (!application.manager) {
          <p class="text-amber-600">
            If you leave a comment, you take the order to work!
          </p>
        }
        <div class="flex flex-col">
          <textarea formControlName="message" matInput></textarea>
        </div>
      </form>
      <div class="flex flex-col ml-1 gap-1">
        @if (commentForm.value['message']) {
          <button
            (click)="onSubmit(application._id)"
            mat-button
            [disabled]="!commentForm.value['message']"
            style="background-color: #fcd34d">
            Submit
          </button>
        }
      </div>
    </div>
  } @else {
    <div class="p-2 bg-slate-200 text-xl text-teal-700 rounded mb-1">
      <p>You cannot leave comments</p>
    </div>
  }
  @if (manager) {
    @for (comment of comments; track comment) {
      <div class="flex gap-1 mt-1">
        <p class="flex p-3 bg-slate-200 rounded mb-1 items-center">
          {{ manager.name }}
        </p>
        <p class="p-3 bg-slate-100 rounded mb-1 message-block">
          {{ comment.message }}
        </p>
        <p class="flex justify-end p-3 bg-slate-100 rounded mb-1">
          {{ comment.created_at | date: 'dd-MM-yyyy HH:mm' }}
        </p>

        <div class="flex example-button-container items-center">
          <button
            (click)="deleteComment(application._id, comment._id)"
            mat-mini-fab
            color="warn"
            [disabled]="manager._id !== me._id">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    }
  }
</div>
