<form [formGroup]="formData" class="flex gap-1 p-2">
  <div class="flex flex-col gap-2">
    <mat-form-field style="margin-bottom: -22px; width: 170px">
      <mat-label id="name">Name</mat-label>
      <input
        type="text"
        formControlName="name"
        matInput
        #input
        maxlength="50" />
    </mat-form-field>
    <mat-form-field style="margin-bottom: -22px; width: 170px">
      <mat-label id="surname">Surname</mat-label>
      <input
        type="text"
        formControlName="surname"
        matInput
        #input
        maxlength="50" />
    </mat-form-field>
    <mat-form-field style="margin-bottom: -22px; width: 170px">
      <mat-label id="phone">Phone</mat-label>
      <input
        type="tel"
        formControlName="phone"
        matInput
        #input
        maxlength="15" />
    </mat-form-field>
    <mat-form-field style="margin-bottom: -22px; width: 170px">
      <mat-label id="age">Age</mat-label>
      <input
        type="number"
        formControlName="age"
        matInput
        #input
        maxlength="10" />
    </mat-form-field>
    <mat-form-field style="margin-bottom: -22px; width: 170px">
      <mat-label id="email">Email</mat-label>
      <input
        type="email"
        formControlName="email"
        matInput
        #input
        maxlength="15" />
    </mat-form-field>
    <mat-form-field style="margin-bottom: -22px; width: 170px">
      <mat-label id="course">Course</mat-label>
      <input
        type="text"
        formControlName="course"
        matInput
        #input
        maxlength="15" />
    </mat-form-field>
    <div class="flex gap-1">
      <button
        class="px-2.5 btn bg-amber-300 rounded shadow text-slate-600 text-xl hover:bg-amber-400"
        (click)="onSubmit()">
        Submit
      </button>
      <button
        class="px-4 btn bg-red-600 text-white rounded text-xl hover:bg-red-700"
        (click)="closeModal()">
        Close
      </button>
    </div>
  </div>
  <div class="flex flex-col">
    <mat-form-field style="margin-bottom: -14px">
      <mat-label id="all formats">Formats</mat-label>
      <mat-select
        formControlName="course_format"
        (selectionChange)="onselect($event)">
        @for (format of getEnumValues('Formats'); track format) {
          <mat-option [value]="format">{{ format }} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-bottom: -14px">
      <mat-label id="all types">Types</mat-label>
      <mat-select
        formControlName="course_type"
        (selectionChange)="onselect($event)">
        @for (type of getEnumValues('Types'); track type) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-bottom: -14px">
      <mat-label id="All statuses">Statuses</mat-label>
      <mat-select formControlName="status" (selectionChange)="onselect($event)">
        @for (status of getEnumValues('Statuses'); track status) {
          <mat-option [value]="status">{{ status }} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-bottom: -14px">
      <mat-label id="All courses">Courses</mat-label>
      <mat-select formControlName="course" (selectionChange)="onselect($event)">
        @for (course of getEnumValues('Courses'); track course) {
          <mat-option [value]="course">{{ course }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-bottom: -14px">
      <mat-label id="All groups">Groups</mat-label>
      <mat-select formControlName="group" (selectionChange)="onselect($event)">
        @for (group of getEnumValues('Groups'); track group) {
          <mat-option [value]="group">{{ group }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-bottom: -14px">
      <mat-label id="Add group">Add Group</mat-label>
      <input matInput #input maxlength="15" formControlName="addGroup" />
    </mat-form-field>
    <button (click)="addGroup()" class="btn btn-green text-xl">
      Add Group
    </button>
  </div>
</form>
