<form [formGroup]="formData" class="flex gap-1">
  <mat-form-field class="small-input">
    <mat-label id="name">Name</mat-label>
    <input type="text" formControlName="name" matInput #input maxlength="50" />
  </mat-form-field>
  <mat-form-field class="small-input">
    <mat-label id="surname">Surname</mat-label>
    <input
      type="text"
      formControlName="surname"
      matInput
      #input
      maxlength="50" />
  </mat-form-field>
  <mat-form-field class="small-input">
    <mat-label id="phone">Phone</mat-label>
    <input
      type="tel"
      formControlName="phone"
      matInput
      #input
      maxlength="15" />
  </mat-form-field>
  <mat-form-field class="small-input">
    <mat-label id="age">Age</mat-label>
    <input type="number" formControlName="age" matInput #input maxlength="10" />
  </mat-form-field>
  <mat-form-field class="small-input">
    <mat-label id="start">Start date</mat-label>
    <input
      type="date"
      formControlName="startDate"
      matInput
      #input
      maxlength="15" />
  </mat-form-field>
  <mat-form-field class="small-input">
    <mat-label id="end">End date</mat-label>
    <input formControlName="endDate" matInput #input maxlength="15" />
  </mat-form-field>

  <button
    class="p-2 bg-amber-300 rounded shadow text-slate-600 text-xl hover:bg-amber-400"
    (click)="onSubmit()">
    Search
  </button>
</form>
