<div class="p-1">
  <app-filter-form></app-filter-form>
  <div class="bg-amber-200 my-1">some content</div>
  <app-applications-list [applications]="applications" />
  <div>
    <mat-paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="false"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>
