<div>
  <app-filter-form></app-filter-form>
  <div class="flex justify-evenly bg-sky-400 my-1 p-0.5 rounded"></div>
  <app-applications-list />
  <div>
    <mat-paginator
      style="background-color: #36b7f0"
      color="accent"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="false"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="page"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>
